.navbar{
  height: 6rem;
  font-size: 1.5rem;
}

.navbar-collapse{
  justify-content: center;
}

.bi{
  margin:0 1.25rem ;
}

.user-profile{
  margin-right: 3rem;
}
.btn-light{
  padding: 20px;
  margin: 3rem;
  color: blue;
  border-radius: 25px;
  border: solid 2px blue;
}
