<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand m-4 " href="#"> <h1><Strong>Logo</Strong></h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Item 1 </a>
      <a class="nav-item nav-link active" href="#">Item 2 </a>
      <a class="nav-item nav-link active" href="#">Item 3 </a>
      <a class="nav-item nav-link active" href="#">Item 4 </a>
      <a class="nav-item nav-link active" href="#">Item 5 </a>
      <a class="nav-item nav-link active" href="#">Item 6 </a>
    </div>
  </div>
  <div class="user-profile">
    <button type="button" class="btn btn-light">Sign In</button>
      <i class="bi bi-person-circle"></i>
      <i class="bi bi-bell-fill"></i>
  </div>
</nav>
