.mat-mdc-form-field {
  font-size: 14px;
  margin-right: 0px;
  width: 100%;

}


.bi-search{
position: absolute  ;
// margin-right: 15px;
}

.btn-primary{
  font-size: 25px;
}

.container{
  padding: 3rem;
  background-color: #f3f3f3;
}
